body {
  margin: 0;
  background: #f0f0f0;
  font-family: Inter, sans-serif;
}

.navbar {
  background: #842929;
  color: white;
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}
.nav-links a:hover { 
    color: #ffcccc; 
}

.category-bar {
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 14px;
  font-size: 19px;
}
.category-bar a {
  color: #8B0000;
  font-weight: 600;
  text-decoration: none;
}
.category-bar a:hover { 
    color: #b30000; 
    transform: scale(1.05)
}

.products { 
    padding: 30px; 
}
.product-row { 
    display: flex; 
    gap: 16px; 
    margin-bottom: 6vh;
}

.product-card {
  background: white;
  width: 230px;
  padding: 14px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
}
.product-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}
.price {
  color: #8B0000;
  font-weight: 700;
}
.qty {
  width: 60px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 8px;
  padding: 6px;
}

/* CART */
.cart-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  width: 260px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(0,0,0,.18);
}
.btn-calc, .btn-checkout, .btn-clear {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.btn-calc { background: #444; color: white; }
.btn-clear { background: #b30000; color: white; }
.btn-checkout { background: #8B0000; color: white; }
.btn-checkout:hover { filter: brightness(0.9); }